# Ignore local development files
*.env

# Ignore any files inside the 'venv' folder (if using virtual environments)
venv

# Ignore log files
*.log

# code coverage files
.coverage
htmlcov

# distribution files
dist

# Ignore compiled Python files
*.pyc
__pycache__
